.nav-header{
    font-size: 2.5rem;
}

.row{
    margin-bottom: 0px;
}

#sourceImage,
.image-controls,
.image-save,
.preset-filters {
    display: none;
}

.image-preview{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#canvas {
    max-height: 420px;
    object-fit: contain;
}